* {
    box-sizing: border-box;
}

body {
    background: url(./img/bg1.jpg) no-repeat;
    background-size: 100vw;
    background-position-y: -250px;
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-size: 156px;
    margin: 0;
    padding: 0;
    color: #eaeaea;
    font-weight: bold;
    transform: scaleY(1.2);
}
h4 {
    font-size: 56px;
}
.wrapper {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
}

/* HEADER START */
.wrapper-burger {
    display: none;
}

.btn {
    margin-right: 30px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}
.link {
    color: white;
    font-size: 28px;
}

.btn-one {
    color: #FFF;
    transition: all 0.3s;
    position: relative;
}
.btn-one span {
    transition: all 0.3s;
}
.btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 160%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
    transform: scale(0.1, 1);
}
.btn-one:hover span {
    letter-spacing: 2px;
}
.btn-one:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}

.btn-one:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 120px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2000;
}
.header-logo {
    margin: 30px 30px;
}
.header-nav {
    margin-right: 100px;
}

/*HEADER END*/

/*ABOUT START*/

.about-wrap {
    max-width: 1060px;
    background-color: white;
    margin: 150px auto;
    height: 600px;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
}
.about-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
}
.photo {
    margin: 80px 40px;
    border-radius: 20px;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.712);
}
.hi {
    color: rgb(107, 107, 107);
    font-size: 40px;
    font-weight: bold;
}
.name {
    margin-top: -40px;
    font-size: 84px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.web {
    margin-top: -80px;
    font-size: 24px;
    font-weight: bold;
    color: rgb(107, 107, 107);
}
.about-text {
    font-size: 18px;
    color: rgb(107, 107, 107);
    margin-right: 20px;
    text-align: left;
}
.signature {

    transform: translateY(-40px) translateX(300px);
}
li {
    list-style-type: none;
}
.social-links-first {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-top: -40px;
    margin-left: 15px;
}
.social-link {
    margin-left: 40px;
}
.link-social:hover {
    transform: scale(1.3);
    transition: 0.6s;
}
/* ABOUT END */

/* EDUCATION START */

.edu-title-sm {
    transform: translateY(-157px);
}

.timeline {
    position: relative;
    margin: -170px auto;
    padding: 40px 0;
    width: 1000px;
    box-sizing: border-box;
}
.timeline:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #c5c5c5;
}
.timeline ul {
    margin: 0;
    padding: 0;

}
.timeline ul li {
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;

}
.timeline ul li:nth-child(odd) {
    float: left;
    text-align: right;
    clear: both;
}
.timeline ul li:nth-child(even) {
    float: right;
    text-align: left;
    clear: both;
}
.content {
    padding-bottom: 20px;
}
.timeline ul li:nth-child(odd):before {
    content: '';
    position: absolute;
    top: 74px;
    right: -6px;
    width: 10px;
    height: 10px;
    background: rgba(233,33,99,1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233,33,99,0.2);
}
.timeline ul li:nth-child(even):before {
    content: '';
    position: absolute;
    top: 74px;
    left: -4px;
    width: 10px;
    height: 10px;
    background: rgba(233,33,99,1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233,33,99,0.2);
}
.timeline ul li h2 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: black;
}
.timeline ul li p {
    margin: 10px 0 0;
    padding: 0;
    color: rgb(107, 107, 107);
}
.timeline ul li .time h3 {
    margin: 0;
    padding: 0;
    font-size: 18px;
}
.timeline ul li:nth-child(odd) .time {
    position: absolute;
    top: 62px;
    right: -165px;
    margin: 0;
    padding: 8px 16px;
    background: gray;
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(233,33,99,0.3);
}
.timeline ul li:nth-child(even) .time {
    position: absolute;
    top: 62px;
    left: -165px;
    margin: 0;
    padding: 8px 16px;
    background: gray;
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(233,33,99,0.3);
}
.timeline ul li:nth-child(odd) .logo-education {
    margin-right: 110px;
}
.timeline ul li:nth-child(even) .logo-education {
    margin-left: 110px;
}

.btn-timeline {
    position: relative;
    margin-top: 15px;
    padding: 0.8rem 1.2rem;
    padding-right: 0.8rem;
    font-size: 14px;
    color: black;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
    user-select: none;
    width: 220px;
    transform: translateX(220px);
}

.btn-timeline:before, .btn-timeline:after {
    content: '';
    position: absolute;
    transition: inherit;
    z-index: -1;
}

.btn-timeline:hover {
    color: black;
    transition-delay: .5s;
}

.btn-timeline:hover:before {
    transition-delay: 0s;
}

.btn-timeline:hover:after {
    background: #BDE3E3;
    transition-delay: .35s;
}

.from-top:before, .from-top:after {
    left: 0;
    height: 0;
    width: 100%;
}

.from-top:before {
    bottom: 0;
    border: 1px solid black;
    border-top: 0;
    border-bottom: 0;
}

.from-top:after {
    top: 0;
    height: 0;
}

.from-top:hover:before,
.from-top:hover:after {
    height: 100%;
}
.oddi {
    transform: translateX(0px);
}

/* EDUCATION END */

/* SKILLS START */

.skills-title {
    margin-top: 300px;
}
.skills-title-sm {
    transform: translateY(-158px);
}
.skills__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.skill__card {
    transform: translateY(-100px);
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    height: 450px;
    padding: 20px 5px 5px 5px;
}
.skill-card-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.skill-card-title {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
}
.skill-card-desc {
    font-size: 18px;
}
.skills-small{
    transform: translateY(-190px);
    padding-left: 80px;
    padding-right: 80px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.skill-small {
    margin-right: 20px;
    margin-left: 20px;
}
.align {
    text-align: center;
}
.fa-star, .fa-star-half {
    color: #8f998f;
}
.skill-small-name {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.skills-counter-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-counter {
    margin-left: 40px;
    margin-bottom: 100px;
    width: 25%;
    height: 150px;
    background-color: #1a1919;
    border-radius: 10px;
}

.counter-title {
    width: 100%;
    transform: translateY(-15px);
}

.counter-title-text {
    color: white;
    text-align: center;
    font-size: 24px;
}

.counter, .counter-hours {
    transform: translateY(-65px);
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 66px;
}
/* SKILLS END */

/* PORTFOLIO START */

.portfolio-title-sm {
    transform: translateY(-158px);
}

.card-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 650px;
    height: 590px;
    border-radius: 10px 10px 0 0;
    background: #eaeaea;
}

.card-menu {
    width: 100%;
    height: 22px;
    border-radius: 10px 10px 0 0;
    background: black;
    display: flex;
    justify-content: left;
    align-items: center;
}

.red {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: red;
    margin-left: 5px;
}

.yellow {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: yellow;
    margin-left: 7px;
}

.green {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: green;
    margin-left: 7px;
}

.card-title {
    font-size: 34px;
    font-weight: bold;
    padding-left: 5px;
    line-height: 0.3rem;
    text-align: center;
}

.card-desc {
    padding-left: 5px;
    font-size: 24px;
    padding-right: 5px;
    text-align: center;
    height: 120px;
}

.card-link {
    line-height: 0.3rem;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #3e3d3d;
    font-size: 26px;
}
.thin { font-weight: 300; }
.thick { font-weight: 900; }

.card-link:hover {
    color: black;
    transform: scale(1.3);
    transition: 1s;
}

.test-container {
    width: 100%;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 160px;
}

/* PORTFOLIO END */


.slider{
    max-width: 90%;
    position: relative;
    margin: auto;
    height: 590px;
    margin-top: -100px;
    margin-bottom: 20px;
}

.slider .prev, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 5px 0 0 5px;
}
.slider .next {
    right: 0;
    border-radius: 0 5px 5px 0;
}
.slider .prev:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slider-dots {
    text-align: center;
    margin-bottom: 120px;
}
.slider-dots_item{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active,
.slider-dots_item:hover {
    background-color: #aaa;
}
.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.prev, .next {
    background-color: #3e3d3d;
}
.item {

}


/* CONTACT START*/

.contact-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr)
}

#map {
    margin-left: 60px;
    border-radius: 3px;
    width: 33vw;
    height: 500px;
}

.phone {
    font-size: 30px;
}

.fa-phone-square-alt {
    font-size: 36px;
    margin-right: 20px;
}

.contact-div {
    width: 33vw;
    border-bottom: 2px solid gainsboro;
}

.mail {
    font-size: 30px;
}

.fa-envelope {
    font-size: 36px;
    margin-right: 20px;
}
/* CONTACT END */

/* FOOTER START */

.footer-container {
    margin-top: 200px;
    width: 100%;
    height: 150px;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-links-footer:last-child {
    margin-right: 60px;
}

.link-social-footer {
    opacity: 0.6;
}

.link-social-footer:hover {
    opacity: 1;
    transform: scale(1.2);
    transition: 0.3s;
}


/* FOOTER END */

/* COVID */
.covid-container {
    position: fixed;
    top: 180px;
    left: 0;
    width: 95px;
    height: 650px;
    background-color: rgba(226, 217, 217, 0.51);
    border-radius: 0 10px 10px 0;
    color: black;
    line-height: 3px;
    transform: translateX(-100px);
    transition: 0.6s;
}

.covid-title {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 35px;
}

.country-name {
    text-align: center;
    font-size: 24px;
}

.covid-box {
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: white;
    height: 60px;
    width: 90%;
    line-height: normal;
    text-align: center;
}

.co-title {
    font-size: 16px;
}

.co-count {
    font-weight: bold;
    font-size: 24px;
    transform: translateY(-12px);
}

.icons-cov {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 70px;
    height: 65px;
    justify-content: center;
    margin-top: 20px;
    background: white;
    border-radius: 50%;
}

@media screen and (max-width: 1330px) {
    .skills__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    #map {
        height: 250px;
    }
}

@media screen and (max-width: 1160px) {
    .header {
        height: 90px;
    }
    .header-logo {
        width: 160px;
    }
    .link {
        font-size: 20px;
    }
    .timeline {
        width: 700px;
    }
    .signature {
        display: none;
    }
}

@media screen and (max-width: 890px) {
   .header {
       display: none;
   }
    .wrapper-burger{
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #000;
        position: fixed;
        color: white;
        text-align: center;
        height: 80px;
        font-family: 'Arial';
        z-index: 2000;
    }

    .header-logo-burger {
        width: 200px;
        margin-top: 10px;
    }

    #check-menu{
        display: none;
    }

    label{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        z-index: 2;
        line-height: 40px;
    }

    .burger-line{
        position: absolute;
        top: 8px;
        right: 10px;
        width: 35px;
        height: 2px;
        background-color: #fff;
        transition: .5s all;
    }

    .second, .third{
        top: 18px;
    }

    .fourth{
        top: 28px;
    }

    .main-menu{
        display: block;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        max-height: 0;
        font-size: 0;
        overflow: hidden;
        transition: .5s all;
    }

    .burger_a{
        display: block;
        width: 100%;
        padding: 10px;
        color: white;
        text-decoration: none;
        border-top: 1px solid rgba(255,255,255,.3);
        background-color: #000;
    }

    .burger_a:hover{
        background-color: rgba(0,0,0,.9);
    }

    #check-menu:checked ~ .main-menu{
        max-height: 500px;
        font-size: 16px;
    }

    #check-menu:checked ~ .first{
        display: none;
    }

    #check-menu:checked ~ .second{
        transform: rotate(45deg);
    }

    #check-menu:checked ~ .third{
        transform: rotate(-45deg);
    }

    #check-menu:checked ~ .fourth{
        display: none;
    }

}




